.image {
	height: 233px;
}

.image * img {
	width: 100%;
	max-width: 250px;
	height: 250px;
}

.thumbnail.default {
	border: solid medium #4EE06C;
	border-radius: 5px;
}

.thumbnail {
	display: inline-block !important;
	padding: 0px;
	height: auto;
	vertical-align: middle;
	margin: 0px;
}

.icon {
}

.icon-sm, .thumbnail.extra-small {
	width: 44px;
}

.icon-sm, .thumbnail.small {
	width: 74px;
}

.icon-lg, .thumbnail.medium {
	width: 128px;
}

.icon-lg, .thumbnail.large {
	width: 256px;
}

.modal .upload-images {
	z-index: 10000;
}
